streamlit
chromadb
langchain
langchain-classic
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-chroma
pypdf
sentence-transformers
streamlit-mic-recorder
edge-tts
